.about{
    margin-top: 5em;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
.about__container{
    text-align: center;
    justify-content: center;
}
.about__container p{
    width: 90%;
    margin: auto;
}

.about__container img{
    height: 200px;
    width: 250px;
    margin-top: 2em;
}
@media (min-width: 375px){
    .about__container p{
        width: 80%;
        font-size: 18px;
        margin-top: 1em;
    }
}
@media (min-width: 480px){
    .about__container p{
        width: 75%;
        font-size: 18px;
        margin-top: 1em;
    }
}
@media (min-width: 768px){
    .about__container p{
        width: 70%;
        font-size: 18px;
    }
}
@media (min-width: 1024px){
    .about__container{
        display: grid;
        grid-template-columns: 60% 40%;
        width: 80%;
        margin: auto;
        
    }
    .about__container img{
        height: 100%;
        width: 80%;
        margin: auto;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .about__container p{
        text-align: left;
        margin-top: 3em;
        width: 90%;
        font-size: 20px;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}
@media (min-width: 1440px){
    .about__container{
        width: 60%;
    }
}